@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
}

.titmain {
    margin: 1em 0em 2em 0em;
}

#tit1 {
    margin: 1em 0em;
}

.weergavediv {
    margin-top: 4em;
}

table {
}

.emptyspace {
    margin-top: 4em;
}