@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
}

.titmain {
    margin: 1em 0em 2em 0em;
}

#tit1 {
    margin: 1em 0em;
}

.weergavediv {
    margin: 4em 0em;
}

.knoppie {
    margin-top: 2em;
}

#basimage {
    height: 15px;
    width: 15px;
}